.wrapper
  = render 'shared/side_bar'

  .main
    .mainHeader
      .mainHeader__box
        %p.mainHeader__box__title
          = @group.name
        %p.mainHeader__box__member
          Member：
          - @group.users.each do |user|
            = user.name
      .mainHeader__button
        = link_to edit_group_path(@group.id) do
          .mainHeader__button__edit Edit
    .mainMessages
      = render @messages

    .form
      = form_for [@group,@message] do |f|
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'picture-o'
            = f.file_field :image, class: 'input-box__image__input'
        = f.submit 'Send', class: 'form__submit'
