.wrapper
  .leftVar
    .leftVar-header
      .leftVar-header__box
        %p.leftVar-header__box__userName
          = current_user.name
        %ul.leftVar-header__box__menu
          %li.leftVar-header__box__menu__edit
            = link_to new_group_path do
              = fa_icon 'edit', class:'icon'
          %li.leftVar-header__box__menu__cog
            = link_to edit_user_path(current_user) do
              = fa_icon 'cog', class:'icon'
    %ul.leftVar-groups
      = render 'group'
      = render 'group'
      = render 'group'
  .main
    .mainHeader
      .mainHeader__box
        %p.mainHeader__box__title test-group
        %p.mainHeader__box__member Member： test-user
      .mainHeader__button
        %a.mainHeader__button__edit{ href: 'http://google.co.jp' } Edit
    %ul.mainMessages
      %li.mainMessages__list
        %p.mainMessages__list__userName isoppu
        %p.mainMessages__list__createdAt 2019/03/13(Sat) 20:00:00
        %p.mainMessages__list__text こんにちは！
      %li.mainMessages__list
        %p.mainMessages__list__userName isoppu
        %p.mainMessages__list__createdAt 2019/03/13(Sat) 20:00:00
        %p.mainMessages__list__text こんにちは！

    .mainInput
      %form.mainInput__box{method: :post , enctype: "#"}
        %input.mainInput__box__type{placeholder: "type a message" }
          %label.mainInput__box__image{for: 'image_file'}
            %i.fa.fa-image
            %input.mainInput__box__input{type: "file", id: 'image_file'}
      %a.mainInput__send{ href: 'http://google.co.jp' } Send

